evalml==0.55.0
imbalanced_learn==0.9.1
imblearn==0.0
numpy
pandas==1.4.3
streamlit==1.11.1
shap==0.41.0
ckwrap==0.1.10
seaborn==0.12.1
kneed==0.8.1
scipy==1.9.3
vowpalwabbit==8.11.0
validators==0.2
decorator==5.1.1
tzlocal==1.1
typing_extensions==4.3.0
tornado==6.1
texttable==1.6.3
numba==0.56
sktime==0.13.4
